body {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 2em;
    color:darkgreen;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
}

p {
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 50px;
}

img {
    margin: auto;
    max-width: 50%;
    margin-top: 50px;
}